body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Cormorant Infant', serif;
}

.box-titolo {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
    /*line-height: 1.1;*/
}

.sottotitolo {
    font-size: 30px;
    font-weight: normal;
    color: black;
}

.immagine {
    width: 100%;
    height: auto;
    display: block;
}

.about-me {
    padding: 80px 0;
}

.about-titolo {
    color: #c8543c;
    font-family: 'Cormorant Infant', serif;
    font-size: 24px;
    margin-bottom: 3vh;
    font-weight: bold;
}

.about-text {
    font-size: 18px;
    line-height: 1.8;
    color: black;
}

.image-tre {
    height: 100%;
}

.bg-grey{
    background-color: #ECECEC;
    margin-left: 0;
    margin-right: 0;
}

/* Media queries per responsive */
@media (max-width: 768px) {
    .image-tre {
        margin-bottom: 30px;
    }
}
